<div id='mass-shift-chooser-container'>
    {% for mass_shift in mass_shifts %}
        <div class='mass-shift-entry' data-name="{{mass_shift.name}}" data-mass="{{mass_shift.mass}}">
            {{mass_shift.name}} {{mass_shift.mass}} <input/>
        </div>
    {% endfor %}
</div>
