<div id='task-list'>
    <h5>Running</h5>
    <ul>
    {% for task in running_tasks %}
        <li>
            {{task.id}}
        </li>
    {% endfor %}
    </ul>
    <h5>Queued</h5>
    <ol>
    {% for task in queued_tasks %}
        <li>
            {{task.id}}
        </li>
    {% endfor %}
    </ol>
</div>
