<div class='navbar-fixed'>
<nav class='indigo lighten-2'>
    <div class="nav-wrapper">
      &nbsp;&nbsp;<a href="/" class="brand-logo">GlycReSoft</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

      </ul>
    </div>
</nav>
</div>
