<div style='overflow-x: scroll;width: 100%;'>
<table class='bordered glycopeptide-match-table' style='width: 100%;'>
    <thead class='glycopeptide-match-header' >
        <tr>
            <th>Observed Mass</th>
            <th class='wide'>Putative Sequence</th>
            <th class='wide'>Glycan Composition</th>
            <th class='wide'>Peptide Modifications
            <br/>and Mass Shifts</th>
            <th>Profile Score</th>
            <th>A:A+2 Peak Ratio</th>
            <th>A:A+2 Estimate Error</th>
            {#<th>Centroid Scan</th>
            <th>Centroid Scan<br/>
                Estimate Error</th>#}
            <th class='narrow'>Signal to<br/>
                Noise Ratio</th>
            <th class='narrow'>Scan
            <br/>Density</th>
            <th class='narrow'>Scan Count</th>
            <th class='narrow'>MS Scan<br/>Range</th>
            <th>Volume</th>
            <th class='narrow'>Coordinates</th>
        </tr>
    </thead>
    <tbody class='glycopeptide-match-table-body' style='height:450px;'>
    {% for gpm in paginator.items %}
        {% set theoretical = gpm.theoretical_match %}  
        <tr class='glycopeptide-match-row' data-target="{{gpm.id}}">
            <td>{{"%0.4f"|format(gpm.weighted_monoisotopic_mass)}}</td>
            <td class='wide'><span>{{theoretical.modified_peptide_sequence}}</span></td>
            <td class='wide'>{{theoretical.glycan_composition_str}}</td>
            <td class='wide'>{{theoretical.peptide_modifications}}
            {% if gpm.mass_shift_type %}<br/>
                {{"%d %s"|format(gpm.mass_shift_count, gpm.mass_shift_type)}}
            {% endif %}</td>
            <td>{{"%0.4f"|format(gpm.ms1_score)}}</td>
            <td>{{"%0.4f"|format(gpm.average_a_to_a_plus_2_ratio)}}</td>
            <td>{{"%0.4f"|format(gpm.a_peak_intensity_error)}}</td>
            {#<td>{{"%0.4f"|format(gpm.centroid_scan_estimate)}}</td>
            <td>{{"%0.4f"|format(gpm.centroid_scan_error)}}</td>#}
            <td class='narrow'>{{"%0.4f"|format(gpm.average_signal_to_noise)}}</td>
            <td class='narrow'>{{"%0.4f"|format(gpm.scan_density)}}</td>
            <td class='narrow'>{{gpm.scan_count}}</td>
            <td class='narrow'>{{gpm.first_scan_id}} - {{gpm.last_scan_id}}</td>
            <td>{{"%0.5e"|format(gpm.total_volume)}}</td>
            <td class='narrow' data-start="{{theoretical.start_position}}" data-end="{{theoretical.end_position}}">
                {{theoretical.start_position}} - {{theoretical.end_position}}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- On narrow screens, the above table may appear to have two horizontal scroll bars -->
</div>
<ul class='pagination'>
    <li class={{"disabled" if paginator.page == 1 else ""}}>
        <a class='previous-page'><i class="material-icons">chevron_left</i></a>
    </li>
    {% for page in paginator.iter_pages() %}
        {% if page is not none %}
            <li class='{{"waves-effect" if page != paginator.page else "active teal"}}'>
                <a data-index="{{page}}">{{page}}</a>
            </li>
        {% else %}
            <li> ... </li>
        {% endif %}
    {% endfor %}
    <li class={{"disabled" if paginator.page == paginator.pages else ""}}>
        <a class='next-page '><i class="material-icons">chevron_right</i></a>
    </li>
</ul>
