<div class='glycopeptide-details-container'>
    {% set theoretical = pgm.theoretical_match %}
    <div class='row'>
        <div class='col s6'>
            <h6><b>Putative Glycopeptide Sequence</b></h6>
            <div class='sequence-emphasis'>{{theoretical.glycopeptide_sequence|glycopeptide_string(True)}}</div>
            <b>Start Position</b>: {{theoretical.start_position}} <b>End Position</b>: {{theoretical.end_position}}
            <table class='center-align'>
                <thead>
                    <tr>
                        <th>Profile Score</th>
                        <th>A:A+2 Peak Ratio<br/>(Estimate Error)</th>
                        <th>Centroid Scan Estimate<br/>(Estimate Error)</th>
                        <th>Volume</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{"%0.4f"|format(pgm.ms1_score)}}</td>
                        <td>{{"%0.4f"|format(pgm.average_a_to_a_plus_2_ratio)}} ({{"%0.4f"|format(pgm.a_peak_intensity_error)}})</td>
                        <td>{{"%0.4f"|format(pgm.centroid_scan_estimate)}} ({{"%0.4f"|format(pgm.centroid_scan_error)}})</td>
                        <td>{{pgm.total_volume}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='col s4'>
            <h6><b>Observed Mass (PPM Error)</b></h6>
            <span>{{"%0.4f"|format(pgm.weighted_monoisotopic_mass)}} ({{"%0.3e"|format(pgm.ppm_error)}})</span>
            {% if ambiguous_with|length > 0 %}
                <h6>Ambiguous with: </h6>
                {% for group in ambiguous_with %}
                    <div>
                        {% set o_theoretical=group.theoretical_match %}
                        <small>{{o_theoretical.glycopeptide_sequence|glycopeptide_string}}:{{o_theoretical.protein.name}}</small>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div>
        {{pgm|chromatogram|svg_plot}}
    </div>
    <div>
        <h6>Scans</h6>
        {{pgm.peak_data["scan_times"]|join(", ")}}
    </div>
</div>
