<table class='bordered protein-list-table'>
    <thead class='protein-list-header'>
        <tr>
        <th>
            Protein Name
        </th>
        <th>
            Glycosylation Site Count
        </th>
        <th>
            Theoretical Glycopeptides
        </th>
        <th></th>
        </tr>
    </thead>
    <tbody class='protein-list-table-body' style='max-height:150px;'>
    {% for protein in proteins.values()|fsort('theoretical_glycopeptide_compositions.count()') if protein.theoretical_glycopeptide_compositions.count() != 0 %}    
        <tr class='protein-list-row' data-target="{{protein.id}}">
            <td>
                <small>{{protein.name}}</small>
            </td>
            <td>
                {{protein.glycosylation_sites|length}}
            </td>
            <td>
                {{protein.theoretical_glycopeptide_compositions.count()}}
            </td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
