/*

Layer System

*/

.dismiss-layer {
    float: right;
    cursor: hand;
    margin-top: 10px;
}

/*

Modals

*/

.modal.wide {
    width: 85% !important;
    height: 80% !important;
}

.modal .row{
    margin-left: auto !important;
    margin-right: auto !important;
}


.lean-overlay {
    visibility: none !important;
}

/*

Tiny Notification

*/

.notification-container {
    position: relative;
    display: inline-block;
    width: 200px;
    z-index: 9999;
}

.notification-container .dismiss-notification{
    float: left;
}

.notification-container .dismiss-notification::after{
    clear:both;
}

.notification-container .notification-contents{
    text-align: left;
}

/*

Context Menu

*/
.context-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 2px;
    padding: 0;
}


.context-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
}

.context-menu li:hover {
    background-color: #DEF;
}
