.dismiss-layer {
    float: right;
    cursor: hand;
    margin-top: 10px;
}

.handle {
    cursor: hand;
}


.lean-overlay {
    visibility: none !important;
}


.list-item {
    border-bottom: 1px lightgrey solid;
}

/*

Modals

*/

.modal.wide {
    width: 85% !important;
    height: 80% !important;
}

.modal .row{
    margin-left: auto !important;
    margin-right: auto !important;
}

/*

Form Elements

*/

.file-format-radio {
    position: relative !important;
    left: 80px !important;
}


.modification-selection {
    height: 100px;
}


.help-text{
    vertical-align: bottom;
}


.add-sample{
    cursor: hand;
}

/*

Sequence Highlights

*/

.glycosylation-site {
    font-weight: 900;
    color: maroon;
}

/*

Protein Match Table

*/

.protein-match-table th, .protein-match-table td {
    width: 180px;
    padding: 5px;
}

.protein-match-table thead, .protein-match-table tbody {
    display: block;
    overflow-y: auto;
}

.protein-match-table tbody tr{
    cursor: hand;
}

.protein-match-cell {
    text-align: left;
    padding: 5px;
}


/*

Glycopeptide Match Table

*/

.glycopeptide-match-table th, .glycopeptide-match-table td {
    min-width: 90px;
    max-width: 90px;
    padding: 3px;
    border-left: 1px lightgrey solid;
    font-size: 0.7em;
    text-align: center;
}

.glycopeptide-match-table th.wide, .glycopeptide-match-table td.wide {
    min-width: 150px;
    max-width: 150px;
    word-break: break-all;
}

.glycopeptide-match-table thead, .glycopeptide-match-table tbody {
    display: block;
    overflow-y: auto;
}

.glycopeptide-match-table th.narrow, .glycopeptide-match-table td.narrow {
    min-width: 70px;
    max-width: 70px;
    word-break: break-all;
}

.glycopeptide-match-table td {

}

.fragment-ion-table td, .fragment-ion-table th {
    font-size: .7em;
    padding: 3px !important;
    word-break: break-all;
}

/*

Protein Overview Graphic

*/

.protein-view-tooltip {
    background-color: white;
    padding: 10px 20px;
    margin-left: 40px;
    border: 1px solid grey;
    border-radius: 4px;
    opacity: 0.8;
}

.side-nav.fixed {
    padding-left: 5px;
}

/*

Mass Shift Input

*/

.mass-shift-row input{
    width: 125px;
    margin-bottom: 5px;
}
