<!DOCTYPE html5>
<html>
<head>
    <title></title>
</head>
<body>
<h2>GlycReSoft2 - Glycopeptide Matching</h2>
<div id='container'>
    {% for protein in experiment.proteins.values() %}
    <div>
        <h3>{{protein.name}}</h3>
        <p>
            {{protein.glycopeptide_matches.count()}} Matches
        </p>
        <p>
            {{protein.theoretical_glycopeptides.count()}} Theoretical Sequences
        </p>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Glycopeptide Sequence</th>
                <th>q-value</th>
            </tr>
            </thead>
            <tbody>
                {% for glycopeptide in protein.glycopeptide_matches | group_glycoforms | q_value_below(0.2) %}
                <tr>
                    <td>{{glycopeptide.glycopeptide_sequence}}</td>
                    <td>{{glycopeptide.q_value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
</body>
</html>
